
.box{
    display: flex;
    width: 500px;
    border: blue solid 3px;
    padding: 10px;
}

.item {
    height: 100px;
    width: 80px;
    background-color: coral;
    margin: 10px;
    font-size: xx-large;
    align-content: center;
    /*font-size-adjust: initial;*/
    /*border-left: black solid 1px;*/
}