body {
    /*border: #0f0f0f solid 1px;*/
    /*width: 500px;*/
    font-family: "微软雅黑";
    /*font-family: "ariel";*/
}
#header {
    /*height: 25%;*/
    max-width: 1080px;
    min-width: 300px;
    max-height: fit-content;
    min-height: 200px;
    /*width: 100%;*/
    /*height: 300px;*/
    /*background-color: #0c7aeb;*/
}
#header > img {
    /*width: 100%;*/
    /*height: 300px;*/
    /*border: red solid 1px;*/
    /*display: block;*/
}
th {
    height: 250px;
    /*border: blue solid 1px;*/
}

h1, h2 {
    font-weight: normal;
}